{% extends 'portfolio_app/base_template.html' %}

{% block content %}
    <h1>Student List</h1>

    {% if student_list %} <!-- Checks if sudent_list is empty -->
        <ul> <!-- <ul> - Unordered List -->
            {% for student in student_list %} <!-- Loops through each student in student_list -->
                <li>
                <a href="{{ student.get_absolute_url }}">{{ student.name }}</a> <!-- Links to student's detail view -->
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>There are no students registered.</p>
    {% endif %}

{% endblock %}
